.idea/
# IDE
.vscode/
.DS_STORE
/coverage/
# Vendor
/vendor/
/api_gateway/vendor/
/app-praticiens/vendor/
/app-rdv/vendor/
/app-auth/vendor/
# Logs
/app/logs/*
!/app/logs/README.md
# Cache
/var/cache/*
.phpunit.result.cache
cache.properties
.php_cs.cache
# Composer
composer.phar
composer.lock
/app/vendor/
*.env

rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/quorum/rabbit@c18fba0cc355/segment_name_upgrade_marker
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/quorum/rabbit@c18fba0cc355/names.dets
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/quorum/rabbit@c18fba0cc355/meta.dets
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/quorum/rabbit@c18fba0cc355/0000000000000001.wal
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/nodes_running_at_shutdown
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/coordination/rabbit@c18fba0cc355/segment_name_upgrade_marker
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/coordination/rabbit@c18fba0cc355/RABBITM788FC4W1CER/config
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/coordination/rabbit@c18fba0cc355/names.dets
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/coordination/rabbit@c18fba0cc355/meta.dets
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/coordination/rabbit@c18fba0cc355/0000000000000001.wal
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/cluster_nodes.config
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355.pid
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355-feature_flags
rabbitmq.toubi/.erlang.cookie
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/rabbit_serial
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
rabbitmq.toubi/mnesia/rabbit@c18fba0cc355/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
rabbitmq.toubi/.erlang.cookie
rabbitmq.toubi/.erlang.cookie
rabbitmq.toubi/.erlang.cookie
rabbitmq.toubi/.erlang.cookie
